/* global 
:root {
	--bradius: 15px;
}*/
.heading-accent:before {
	content: '';
	display: block;
	width: 56px;
	height: 28px;
	background-color: var(--wp--preset--color--accent-5);
	border-radius: 50vh;
	margin-bottom: 12px;
}

/* table rounded corners */
figure.rounded-corners table {
	border-spacing: 0;
	border-collapse: separate;
	border-radius: 10px;
	border: 1px solid black;
	overflow: hidden;
}

figure.rounded-corners table td {
	border-width: 0 0 1px !important;
}

figure.rounded-corners table tr:last-of-type td {
	border-width: 0 !important;
}

/* Apply a border to the right of all but the last column */
figure.rounded-corners table th:not(:last-child),
figure.rounded-corners table td:not(:last-child) {
	border-right: 1px solid black;
}

/* Apply a border to the bottom of all but the last row */
figure.rounded-corners table>thead>tr:not(:last-child)>th,
figure.rounded-corners table>thead>tr:not(:last-child)>td,
figure.rounded-corners table>tbody>tr:not(:last-child)>th,
figure.rounded-corners table>tbody>tr:not(:last-child)>td,
figure.rounded-corners table>tfoot>tr:not(:last-child)>th,
figure.rounded-corners table>tfoot>tr:not(:last-child)>td,
figure.rounded-corners table>tr:not(:last-child)>td,
figure.rounded-corners table>tr:not(:last-child)>th,
figure.rounded-corners table>thead:not(:last-child),
figure.rounded-corners table>tbody:not(:last-child),
figure.rounded-corners table>tfoot:not(:last-child) {
	border-bottom: 1px solid black;
}

/* end table rounded corners*/
/* additional buttons style */
.btn--white a {
	border-color: white;
	background-color: white;
	color: var(--wp--preset--color--accent-1);
}

.btn--outline-white a {
	border-color: white;
	background-color: rgba(0,0,0,0);
	color: white;
}

.btn--outline-black a {
	border-color: black;
	background-color: rgba(0,0,0,0);
	color: black;
}

/* END global */
/* homepage style */
/* hero */
.home-hero img {
}

@media screen and (max-width: 1013px) {
	.home-hero .home-hero-row {
		flex-direction: column-reverse;
		gap: 50px;
	}
	
	.home-hero .home-hero-row img {
		width: 100px;
	}
	
	.home-hero .home-hero-row .titolo-e-coordinate,
	.home-hero .home-hero-row .titolo-e-coordinate h1{
		text-align: center;
	}
}

/* END hero */
/* news */
.home-news {
/*max-width: 100%;*/
}

.home-news li {
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	border-radius: 15px;
	overflow: hidden;
}

.home-news figure, 
.home-news .wp-block-post-date {
	order: -1;
}

/* END news */
/* programma */
.home-programma .table--accent tr:first-of-type td {
	background-color: var(--wp--preset--color--accent-5);
}

.home-programma tbody tr:first-of-type td {
	font-size: var(--wp--preset--font-size--x-large);
	padding-top: 6px;
	padding-bottom: 6px;
}

.home-programma tbody tr td span {
	font-size: var(--wp--preset--font-size--small);
	color: var(--wp--preset--color--accent-3);
}

/* END programma */
/* Alessandro, ultime 3 parti home */
/* Rispondi alla Call */
.h-griglia-call {
	font-size: clamp(2.835rem, 2.835rem + ((1vw - 0.2rem) * 4.18), 5.5rem);
}

.h-card-griglia-call {
	font-size: var(--wp--preset--font-size--xx-large);
}

.h2-griglia-call {
	font-size: var(--wp--preset--font-size--large);
}

.p-griglia-call {
	font-size: 1.3rem;
}

@media screen and (max-width: 1472px) {
	html body main div div.wp-block-group.griglia-call {
		display: flex;
		flex-direction: column;
	}
	
	h2.h-griglia-call {
		font-size: 3.7rem;
	}
	
	h2.h-card-griglia-call {
		font-size: 2.85rem;
	}
}

@media screen and (max-width: 1016px) {
	div h2.h-card-griglia-call {
		font-size: 2.6rem;
	}
}

@media screen and (max-width: 540px) {
	div h2.h-griglia-call {
		font-size: 9vw;
	}
}

@media screen and (max-width: 461px) {
	div div h2.h-card-griglia-call {
		font-size: 1.7rem;
	}
	
	h2.wp-block-heading.is-style-text-subtitle.h2-griglia-call {
		font-size: 21px;
	}
	
	p.p-griglia-call {
		font-size: 18px;
	}
}

/* La Community */
.stack-community {
	padding-right: var(--wp--preset--spacing--60);
	padding-left: var(--wp--preset--spacing--60);
}

@media screen and (max-width: 1476px) {
	html body main div div.wp-block-group.alignwide.griglia-community {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	html body main div div.wp-block-group.alignwide.griglia-community figure {
		width: 85%;
	}
	
	html body main div div.wp-block-group.alignwide.griglia-community figure img {
		width: 100%;
	}
	
	html body main div div div div div.wp-block-buttons.is-layout-flex.wp-block-buttons-is-layout-flex.buttons-community {
		align-self: center;
	}
}

@media screen and (min-width: 860px) and (max-width: 1476px) {
	html body main div div.wp-block-group.alignwide.griglia-community figure {
		width: 50%;
	}
}

h2.wp-block-heading.h-community {
	font-size: 3.5rem;
}

p.p-community {
	font-size: 1.4rem;
}

@media screen and (max-width: 523px) {
	html body main div div div div h2.wp-block-heading.h-community {
		font-size: 9vw;
	}
	
	html body main div div div div p.p-community {
		font-size: 22px;
	}
}

@media screen and (max-width: 499px) {
	html body main div div.wp-block-group.alignwide.griglia-community figure {
		width: 100%;
	}
	
	html body main div div div div p.p-community {
		font-size: 19px;
	}
	
	div.wp-block-group.stack-community {
		padding-right: 0;
		padding-left: 0;
	}
	
	html body main div div div div div.wp-block-buttons.is-layout-flex.wp-block-buttons-is-layout-flex.buttons-community {
		flex-direction: column;
	}
}

/* Le location */
.h-location {
	font-size: 3.5rem;
}

@media screen and (max-width: 523px) {
	h2.h-location {
		font-size: 9vw;
	}
}

@media screen and (max-width: 353px) {
	div h2.h-location {
		font-size: 10vw;
	}
	
	.buttons-location div a {
		font-size: 4.4vw;
	}
}

/* END homepage style */
/* Header style */
/* END Header style */
/* Footer */
.footer img.custom-logo {
	filter: invert(1);
}

@media (max-width:768px) {
	.footer {
		display: flex;
		flex-direction: column;
		gap: 30px;
	}
}

/* END Footer style */

/* Speakers form */

.speaker-form-field-description {
	margin-top: 0;
}

/* END Speakers form */

/* Camptix block - tickets page */

.tix_tickets_table, .tix-ticket-form {
	border-spacing: 0;
	border-collapse: collapse;
	width: 100%;
}
.tix_tickets_table input[type="text"],
.tix_tickets_table input[type="url"],
.tix_tickets_table input[type="email"],
.tix_tickets_table select {
	font-size: 1em;
}

.tix_tickets_table textarea {
	font-size: 1em;
	height: 4em;
}

/* Home smartphone rules */
@media (max-width:767px) {
	/*-- responsive ticket table --*/
	.tix_tickets_table table,
	.tix_tickets_table thead,
	.tix_tickets_table tbody,
	.tix_tickets_table th,
	.tix_tickets_table td,
	.tix_tickets_table tr {
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	.tix_tickets_table thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	.tix_tickets_table td {
	/* Behave  like a "row" */
		border: 0;
		position: relative;
		padding-left: 50%;
	}

	.tix_tickets_table td:before {
	/* Now like a table header */
		position: absolute;
	/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}

	.tix-column-remaining::before {
		content: "Rimanenti: "
	}
	.tix-column-quantity::before {
		content: "Quantità: "
	}
	.tix-column-per-ticket::before {
		content: "Per ticket: "
	}
	.tix-column-price::before {
		content: "Prezzo: "
	}

	.tix-tickets-list .tix-column-description {
		padding: 0 !important;
		border: 0;
		text-align: center !important;
	}

	.tix-js .tix_tickets_table tbody .tix-ticket-title,
	.tix-js .tix_tickets_table tbody .tix-column-description {
		font-weight: bold;
		display: block;
		width: auto;
		background: var( --wp--preset--color--custom-light-blue-primary );
		padding: 10px 20px;
	}

	.tix-js .tix_tickets_table .tix-column-description label + br {
		display: none;
	}

	.tix-js .tix_tickets_table tbody .tix-column-description {
		background: #fff;
		padding: 0;
	}

	.tix-js .tix_tickets_table .tix-ticket-excerpt {
		display: block;
		padding: 10px 20px;
		font-weight: normal;
	}

	/*-- responsive ticket form --*/
	.tix-ticket-form td.tix-left,
	.tix-private-form td.tix-left,
	.tix-attendee-form td.tix-left,
	.tix-receipt-form td.tix-left,
	.tix_invoice_table td.tix-left,
	.tix-ticket-form td.tix-right,
	.tix-private-form td.tix-right,
	.tix-attendee-form td.tix-right,
	.tix-receipt-form td.tix-right,
	.tix_invoice_table td.tix-right {
		width: 90% !important;
	}

	.tix-js .tix_tickets_table.tix-attendee-form .tix-right {
		padding-top: .5em !important;
	}

	.tix-js .tix_tickets_table.tix-attendee-form .tix-left,
					.tix-js .camptix-invoice-toggle-wrapper .camptix-invoice-details .tix-left {
		text-align: left !important;
	}

	.tix-js .tix_tickets_table.tix-attendee-form .tix-right {
		padding-left: 20px;
	}

	.tix-ticket-form input[type="text"],
					.tix-ticket-form input[type="email"],
					.tix-ticket-form input[type="url"],
					.tix-ticket-form textarea,
					.tix-private-form input[type="text"],
					.tix-private-form input[type="email"],
					.tix-private-form input[type="url"],
					.tix-private-form textarea,
					.tix-attendee-form input[type="text"],
					.tix-attendee-form input[type="email"],
					.tix-attendee-form input[type="url"],
					.tix-attendee-form textarea,
					.tix-receipt-form input[type="text"],
					.tix-receipt-form input[type="email"],
					.tix-receipt-form input[type="url"],
					.tix-receipt-form textarea,
					.tix_invoice_table input[type="text"],
					.tix_invoice_table input[type="email"],
					.tix_invoice_table input[type="url"],
					.tix_invoice_table textarea {
		width: 100% !important;
	}

	tix-order-summary .tix-column-description {
		width: 80% !important;
	}

	.tix-js .tix_tickets_table.tix-attendee-form tbody td,
					.tix_tickets_table.tix-attendee-form tbody th {
		padding: 5px 0 !important;
	}

	.tix-attendee-form tr {
		padding-bottom: 40px !important;
	}

	.tix-left {
		font-weight: 600 !important;
	}
}

/* End of media rule @media (max-width:767px) */
.tix-js {
	font-size: 1.1em;
}

.tix-js .tix_tickets_table th,
.tix-js .tix_tickets_table td {
	padding: 5px 20px;
}

.tix-js .tix_tickets_table thead th,
.tix-ticket-form thead th {
	background-color: var( --wp--preset--color--accent-5 );
	border: 1px solid var( --wp--preset--color--accent-5 );
	font-weight: bold;
}

.tix-js .tix_tickets_table tbody .tix-ticket-title {
	font-weight: bold;
}

.tix-js .tix_tickets_table tbody th,
.tix-js .tix_tickets_table tbody td,
.tix-js .tix-ticket-form tbody th,
.tix-js .tix-ticket-form tbody td {
	border: 1px solid #ccc;
	text-align: center;
}

.tix-js .tix_tickets_table tbody .tix-column-price,
.tix-js .tix_tickets_table tbody .tix-column-remaining {
	font-weight: bold;
}

.tix-js .tix_tickets_table tbody .tix-column-quantity select {
	padding: 8px 7px;
	min-width: 75px;
}

.tix-js .tix_tickets_table.tix-order-summary {
	width: 100%;
	margin-top: 2rem;
}

.tix-js .tix_tickets_table.tix-order-summary .tix-row-total td:last-child {
	border-top: 1px solid gray;
}

.tix-js .tix_tickets_table.tix-order-summary tbody th,
.tix-js .tix_tickets_table.tix-attendee-form tbody th,
.tix-js .tix_tickets_table.tix-attendee-form tbody td {
	border: none;
	padding: 5px 20px;
}

.tix-js .tix_tickets_table tbody th,
.tix-js .tix_tickets_table th.tix-column-description {
	text-align: left;
}

.tix-js .tix_tickets_table.tix-attendee-form .tix-left {
	text-align: right;
	padding-right: .5em;
}

.tix-js .tix_tickets_table.tix-attendee-form .tix-right {
	text-align: left;
	padding-left: .5em;
}

.tix-js .tix_tickets_table.tix-attendee-form .tix-left,
.tix-js .tix_tickets_table.tix-attendee-form .tix-right {
	padding-top: 1.5em;
/*! vertical-align: bottom; */
}

.tix-js .tix_tickets_table.tix-attendee-form .tix-row-health-advisory .tix-left {
	text-align: left;
}

.tix-js .tix_tickets_table.tix-attendee-form .tix-row-health-advisory .tix-left p {
	margin-bottom: 1em;
}

.tix-js .tix_tickets_table.tix-attendee-form .tix-row-health-advisory .tix-left::after {
	content: none;
}

.tix-js .camptix-invoice-toggle-wrapper {
	display: block;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.tix-js .camptix-invoice-toggle-wrapper label {
	font-weight: bold;
}

.tix-js .camptix-invoice-toggle-wrapper table label {
	font-weight: normal;
}

.tix-js .camptix-invoice-toggle-wrapper .camptix-invoice-details {
	width: 100%;
	margin-bottom: 2em;
}

.tix-js .camptix-invoice-toggle-wrapper .camptix-invoice-details td {
	border: none;
}

.tix-js .camptix-invoice-toggle-wrapper .camptix-invoice-details .tix-left {
	text-align: right;
	padding-right: .5em;
	width: 40%;
}

.tix-js .camptix-invoice-toggle-wrapper .camptix-invoice-details .tix-right {
	text-align: left;
	padding-left: .5em;
	width: 60%;
}

.tix_invoice_table input[type="text"],
.tix_invoice_table input[type="email"],
.tix_invoice_table input[type="url"],
.tix_invoice_table textarea {
	width: 70%;
}

.tix-js .camptix-invoice-toggle-wrapper .camptix-invoice-details .tix-left,
.tix-js .camptix-invoice-toggle-wrapper .camptix-invoice-details .tix-right {
	padding-top: 1.5em;
	vertical-align: bottom;
}

.tix-js .tix-submit {
	display: block;
	margin-bottom: 3em;
}

.tix-js input[type='submit'],
.tix-checkout-button {
	font-size: 1.2rem;
	margin-top: 2rem;
	border: 2px solid var( --wp--preset--color--custom-light-blue-primary ) !important;
	padding: 15px 30px !important;
	background-color: var( --wp--preset--color--custom-light-blue-primary );
	color: #000;
	text-transform: uppercase;
	cursor: pointer;
}

.tix-js #tix-coupon-input {
	font-size: 1.2rem;
	padding: 13px;
}

.tix-js .tix-ticket-form th {
	text-align: center;
}
/* END Camptix block - tickets page */

/* Schedule */

.wp-block-wordcamp-schedule div.wordcamp-schedule__session.is-spanning-all-tracks h4 {
  text-align: center !important;
  justify-content: center;
}
.wp-block-wordcamp-schedule .wordcamp-schedule__session-category {
  color: #333;
  text-align: right;
  margin-bottom: 0;
  position: absolute;
  bottom: 14px;
  right: 14px;
}

.wp-block-wordcamp-schedule .wordcamp-schedule__session-title, .wp-block-wordcamp-schedule .wordcamp-schedule__time-slot-header {
  font-size: 1.3rem;
  line-height: 1.4;
  font-weight: 700;
}

.wp-block-wordcamp-schedule div.wordcamp-schedule__session[class*="has-slug-pausa"],
.wp-block-wordcamp-schedule div.wordcamp-schedule__session[class*="has-slug-pranzo"] {
  background-color: #e0e0e0 !important;
}

.wp-block-wordcamp-schedule .wordcamp-schedule__column-header.is-column-time {
  display: none !important;
}

.wp-block-wordcamp-schedule div.wordcamp-schedule__session[class*="has-slug-pausa"] p,.wp-block-wordcamp-schedule div.wordcamp-schedule__session[class*="has-slug-pranzo"] p {
  margin-bottom: 0;
}

.wordcamp-schedule__session-speakers,
.wp-block-wordcamp-session-speakers__name {
   pointer-events: none;
}

/* END Schedule */
